/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-dic-2017, 15:06:15
    Author     : XL
*/

.app-background{
    /*    background-color: white;*/
    background-size: cover;
    background-repeat: round;
    transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);

}
.select-app{
    height: auto!important;

}
.form-add{
    border: none;
}
.center_content-text{
    text-align: center;
}
.frm-success{
    text-align: center;
}
.img-graduados{
    width: 6em;
    height: 6em;
    border-radius:50%;
}

.btn-session{
    background: none!important;
    border: none!important;
}
.menu-title{

}
.menu-title i{
    float: left!important;
}
.fa-icons{
    min-width: 1.4em;
}

.frm-all{
margin-top: 2em;
}
.header-content{
/*    background: white;*/
    text-align: center;
}
.title-content{
    font-size: 2em;
}
.btn-redondo{
    border-radius: 50%!important;

}
.content-left{
    float: left;
}
.color-title{
    color: #a0a0a0;
}
